body {
  margin: 0;
  font-family: "CursedTimer", sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: "CursedTimer";
  src: url(fonts/CursedTimerUlil-Aznm.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b244a;
  padding: 50px;
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

.teams {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 16px;
}

.home-title,
.guest-title {
  font-family: verdana, sans-serif;
  color: white;
  text-align: center;
  font-size: 2em;
  margin-bottom: 15px;
}

.container .reset {
  margin-top: 35px;
  align-self: center;
  border: 2px solid #9aabd8;
  color: #f94f6d;
}

.home-score,
.guest-score {
  background-color: #080001;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 4em;
  padding: 20px 20px 8px 20px;
  color: #f94f6d;
  text-align: center;
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid transparent;
  margin-bottom: 20px;
}
.button {
  font-family: "CursedTimer", sans-serif;
  background-color: #1b244a;
  color: #9aabd8;
  border: 2px solid #9aabd8;
  padding: 10px 10px 5px 10px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.button:active {
  transform: scale(0.85); /* Sedikit mengecil */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); /* Efek cekung saat ditekan */
}

.highlight {
  border-color: #f94f6d;
  box-shadow: 0 0 12px #f94f6d;
  transform: scale(1.05);
  transition: all 0.15s ease;
}
